// @import 'core/variables';
// @import 'core/reset';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

//clases header

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header {
    background-image: url(../images/cocteles.jpg);
    background-size: cover;
    background-position: center;
    height: 50px;
  }

.search-section {
    display: flex;
    position: fixed;
    z-index: 1;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
  }

.search-text{
    color:antiquewhite;
    border: 3px double rgba(194, 140, 38, 0.87);
    margin-top:20px;
    margin-bottom: 20px;
    
}

.finder{
    
    height: 25px;
    border: 2px solid rgb(105, 71, 121);
    border-radius: 8px;
}



.btn{
    font-size: 16px;
    width: 65px;
    height: 30px;
    background-color:  rgb(96, 82, 99);
    color:antiquewhite;
    border-radius: 5px;
    border: 2px solid rgb(105, 71, 121);
}


// clases main

.main{
    background-color: rgb(105, 71, 121);
    padding: 5px 2px 5px 2px;
}

.text-title{
    text-align: center;
    color: darkgrey;
    padding: 10px 5px 20px 5px;
    font-size: 28px;
    
}

.favorites{
    display: flex;
    flex-direction: column;
    list-style: none;
    color:rgba(184, 143, 38, 0.738);
    text-align: center;
}

.cocktails{
    display: flex;
    flex-direction: column;
    list-style: none;
    color:rgba(184, 143, 38, 0.738);
    text-align: center;
}

.favorites-list{
    border: 3px double rgba(194, 140, 38, 0.87);
    background-color: rgb(96, 82, 99);
    margin: 20px 15px 20px 15px;
}

.name-cocktail{
    font-size: 23px;
    text-align: start;
    padding: 2px 10px 10px;

}

.image-cocktail{
    width:180px;
}

.cocktails-list{
    border: 3px double rgba(194, 140, 38, 0.87);
    background-color: rgb(96, 82, 99);
    margin: 20px 15px 20px 15px;
}

//clases footer

.footer{
    background-color:rgb(105, 71, 121);
    border: 0.5px solid rgba(194, 140, 38, 0.87);

    
}

.copy{
    color:white;
    padding: 10px 5px 15px 5px;
    font-size: 12px;
}